@using WebApplication1.Models
@model Author
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAuthor</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
    </script>
    

</head>
<body>
    @Scripts.Render("~/bundles/myscripts")
    
    <div> 
        <h2>Добавление книг</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="authorBlock">
                <label>Имя автора</label>
                <label>Имя автора2</label>
                <input type="text" name="name" />
            </div>
            <div id="booksBlock">
                <div class="bookItem">
                    <h4>Книга № 1</h4>
                    <div>
                        <label>Название</label>
                        <div>
                            <input type="text" name="Book.Name" />
                        </div>
                    </div>
                </div>

            </div>
            <p><a class="addLink">Добавить новый элемент</a></p>
            <p><input type="submit" value="Добавить" /></p>
        }

         
    </div>
    <script>
        $(function () {
            alert('Подключена последняя версия jQuery через Google хостинг');
        });

        $('label').hide();
    </script>
</body>
</html>
